.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.sec {
    padding: 100px 0;
}

.con {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.left {
    max-width: 870px;
}

.right {
    max-width: 270px;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 24px 0;
}

.title h2 {
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
}

.title h2 a {
    font-size: 14px;
    font-weight: 400;
    color: #ddd;
    align-items: center;
    margin: 0 0 0 auto;
}

.title a span {
    font-size: 14px;
}