* {
    outline: 1px solid tomato--;
}

.header {
    height: 100px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 100px;

    max-width: 1200px;
    width: 100%;

    padding: 0 15px;
    margin: 0 auto;
}

.header_wrap h1 a img {
    width: 180px;
    margin-top: -10px;
}

.header_wrap .gnb ul {
    display: flex;
    gap: 30px;
}

.header_wrap .gnb>ul>li {
    font-size: 24px;
    line-height: 24px;
}

.header_wrap .util {
    display: flex;
    gap: 30px;
}

.header_wrap .util .member {
    display: flex;
    gap: 15px;
}

.header_wrap .util .member>li {
    font-size: 20px;
    line-height: 20px;
}

/* main_visual-left-------------------------------------------- */
.visual_slide {
    margin: 0 0 20px 0;
}

.visual_slide .itm {
    height: 400px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;

}

.inquiry {
    height: 100px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.inquiry ul {
    display: flex;
    gap: 50px;
    text-align: center;
}

/* main_visual-right-------------------------------------------- */

.car_lent{
    display: flex;
    gap: 30px;
    width: 870px;
}

.car_lent>*{
    flex: 1;
}
.car_lent .itm{
    height: 200px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}