* {
    outline: 1px solid tomato--;
}

.header {
    height: 100px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;

}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 100px;
}

h1 {
    width: 180px;
}

.gnb>ul {
    display: flex;
    gap: 30px;
}

.gnb>ul>li {
    font-size: 24px;
}

.util {
    display: flex;
    gap: 30px;
}

.util>ul {
    display: flex;
    gap: 15px;
}

.util>ul>li {
    font-size: 20px;
}

.util span {
    line-height: 100px;
    cursor: pointer;
}


/* main_visual------------------------------------------------------- */

.visual_wrap {
    display: flex;
    gap: 30px;
}

.visual_wrap>* {
    flex: 1;
}

/* lfet---------------------------- */
.visual_slide {
    margin: 0 0 20px 0;
    max-width: 870px;
    border-radius: 20px;
    overflow: hidden;
}

.visual_slide .itm {
    height: 400px;
    cursor: pointer;
}

.visual_slide .itm01 {
    background: url(../images/main_visual01.jpg) no-repeat center center/cover;
}

.visual_slide .itm02 {
    background: url(../images/main_visual02.jpg) no-repeat center center/cover;
}

.visual_slide .itm03 {
    background: url(../images/main_visual03.jpg) no-repeat center center/cover;
}

.visual_slide .itm .txt_box {
    padding: 100px 0 0 50px;
}

.visual_slide .itm .txt_box strong {
    display: block;
    font-size: 32px;
    font-weight: 600;
    margin: 0 0 16px;
}

.visual_slide .itm .txt_box p {
    font-size: 20px;
    line-height: 24px;
}

.visual_slide .slick-dots {
    position: absolute;
    bottom: 45%;
    left: 50px;

    font-size: 0;
}

.visual_slide .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.visual_slide .slick-dots li::after {
    content: "";
    border-radius: 50%;
    padding: 8px;
    background: #ddd;
}

.visual_slide .slick-dots li.slick-active::after {
    padding: 8px 16px;
    border-radius: 8px;
    background: #666;

}

.visual_slide .slick-dots li button {
    border: none;
    background: transparent;
}

.inquiry {
    height: 100px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 20px;
}

.inquiry ul {
    display: flex;
    text-align: center;
}

.inquiry ul li {
    position: relative;
    flex: 1;
    line-height: 100px;
}

.inquiry ul li~li::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    content: "";
    width: 1px;
    height: 10px;
    background: #bbb;
}

.inquiry ul li a {
    display: block;
    font-size: 24px;
    font-weight: 600;
}

/* rightt---------------------------- */

.visual_right_wrap {
    max-width: 270px;
}

.visual_right_wrap>ul {
    display: flex;
    padding: 16px 0 0 0;
    margin: 0 0 30px 0;
    text-align: center;

}

.visual_right_wrap>ul>* {
    flex: 1;
}

.visual_right_wrap>ul li {
    font-size: 20px;
    margin: 0 0 8px 0;
    padding: 0 0 16px 0;
    border-bottom: 3px solid #ddd;
    cursor: pointer;
}

.visual_right_wrap>ul li.on {
    border-bottom: 3px solid #000;
}

.visual_right .login_box {
    display: none;
}

.visual_right .login_box.on {
    display: block;
}


.visual_right .login_box #login {
    display: flex;
    gap: 30px;
    flex-direction: column;
    margin: 0 0 20px 0;
}

.visual_right .login_box #login>* {
    flex: 1;
}

.visual_right .login_box ul {
    display: flex;
    justify-content: space-between;

}

.visual_right .login_box ul li {
    position: relative;
}

.visual_right .login_box ul li~li::after {
    position: absolute;
    top: 7px;
    left: -15px;
    content: "";
    width: 1px;
    height: 8px;
    background: #bbb;
}

.visual_right_wrap .tab_con .public_box {
    display: none;
}

.visual_right_wrap .tab_con .public_box.on {
    display: block;
}

/* tab_sub---------------------------------- */
.visual_right_wrap .tab_con .public_box .tab_sub {
    display: flex;
    gap: 15px;
}

.visual_right_wrap .tab_con .public_box .tab_sub>* {
    flex: 1;
}

.visual_right_wrap .tab_con .public_box .tab_sub>li {
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 125px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
}

.visual_right_wrap .tab_con .public_box .tab_sub>li:hover {
    border: 1px solid #007e6f;
}

.visual_right_wrap .tab_con .public_box .tab_sub>li>a {
    display: block;
}

.visual_right_wrap .tab_con .public_box>ul>li span {
    font-size: 10px;
}

.visual_right_wrap .tab_con .public_box .tab_sub_con .personal_business {
    display: none;
    flex-direction: column;
    text-align: center;
}

.visual_right_wrap .tab_con .public_box .tab_sub_con .personal_business.on {
    display: flex;
}

.visual_right_wrap .tab_con .public_box .tab_sub_con .personal_business p {
    font-weight: 600;
    line-height: 20px;
    padding: 70px 0 0 0;
    margin: 0 0 70px 0;
}

.visual_right_wrap .tab_con .public_box .tab_sub_con .personal_business .top_btn {
    border: 1px solid #007e6f;
    background: #fff;
    color: #000;
    margin: 0 0 20px 0;
}

.visual_right_wrap .tab_con .public_box .tab_sub_con .personal_business .bottom_btn {
    margin: 0 0 15px 0;
}

.visual_right_wrap .tab_con .public_box .tab_sub_con .member {
    font-size: 14px;
    color: 666;
}

.visual_right_wrap .tab_con .public_box .tab_sub_con .corporate_business {
    display: none;
}

.visual_right_wrap .tab_con .public_box .tab_sub_con .corporate_business.on {
    display: block;
}

.corporate_business {
    text-align: center;
    display: none;
}

.corporate_business .btn {
    margin: 65px 0 13px 0;
}


/* main_car*/
.car_wrap {
    display: flex;
    gap: 30px;
}

.car_wrap>* {
    flex: 1;
}

/* main_car-left-------------------------------------------- */

.car_lent {
    display: flex;
    gap: 30px;
    width: 870px;
}

.car_lent>* {
    flex: 1;
}

.car_left .car_lent .itm {
    height: 200px;
    border-radius: 20px;
}

.car_left .car_lent .itm01 {
    background: url(../images/main_car01-1.jpg) no-repeat center center/cover;
}

.car_left .car_lent .itm02 {
    background: url(../images/main_car01-2.jpg) no-repeat center center/cover;
}

.car_left .car_lent .itm .txt_box {
    display: flex;
    flex-direction: column;
    padding: 50px 0 0 30px;
}

.car_left .car_lent .itm .txt_box strong {
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
    margin: 0 0 32px 0;
}

.car_left .car_lent .itm .txt_box>a {
    align-self: start;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #fff;
    padding: 10px 30px;
    border-radius: 20px;
    transition: 0.5s;

}

.car_left .car_lent .itm .txt_box>a:hover {
    border: 1px solid #000;
    background: #000;

}

/* main_car-right-------------------------------------------- */

.car_right {
    max-width: 270px;
}

.car_right .itm {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.car_right .itm .img_box img {
    width: 120px;
    height: 106px;
}

.car_right .itm .txt_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.car_right .itm .txt_box strong {
    margin: 0 0 16px 0;
    font-weight: 600;
}

.car_right_slide {
    position: relative;
}

.car_right_slide .slick-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;

    border: none;
    background: transparent;
    font-size: 0;
}

.car_right_slide .slick-prev {
    left: 0;
}

.car_right_slide .slick-prev::after {
    content: "\e5cb";
    font-family: material symbols outlined;
    font-size: 24px;
}

.car_right_slide .slick-next {
    right: -100px;
}

.car_right_slide .slick-next::after {
    content: "\e5cc";
    font-family: material symbols outlined;
    font-size: 24px;
}


.car_right_slide .slick-dots {
    position: absolute;
    bottom: -46px;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 0;
}

.car_right_slide .slick-dots li {
    display: inline-block;
    margin: 0 10px;
}

.car_right_slide .slick-dots li::after {
    content: "";
    border-radius: 50%;
    padding: 8px;
    background: #ddd;
}

.car_right_slide .slick-dots li.slick-active::after {
    padding: 8px 16px;
    border-radius: 8px;
    background: #666;

}

.car_right_slide .slick-dots li button {
    border: none;
    background: transparent;
}

/* main_personal--------------------------- */
.personal_wrap {
    display: flex;
    gap: 30px;
}

/* left--------------------------- */
.personal_wrap>* {
    flex: 1;
}

.personal_left .personal_left_wrap {
    display: flex;
    gap: 30px;
}

.personal_left .personal_left_wrap>* {
    flex: 1;
}

.personal_left .personal_left_wrap .itm {
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 220px;
}

.personal_left .personal_left_wrap .txt_box {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px 0 0 0;
}

.personal_left .personal_left_wrap .txt_box span {
    font-size: 36px;
    margin: 0 0 24px 0;
}

.personal_left .personal_left_wrap .txt_box strong {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 16px 0;
}

.personal_left .personal_left_wrap .txt_box p {
    margin: 0 0 8px 0;
    line-height: 20px;
}

.personal_left .personal_left_wrap .txt_box a {
    position: relative;
    align-self: center;
    border: 1px solid #000;
    font-size: 14px;
    color: #000;
    padding: 5px 20px;
    border-radius: 20px;
    overflow: hidden;
}

.personal_left .personal_left_wrap .txt_box a::after {
    position: absolute;
    top: 25px;
    left: -5px;
    content: "";
    width: 100px;
    height: 26px;
    background: #007e6f;
    transition: 0.5s;

}

.personal_left .personal_left_wrap .txt_box a:hover::after {
    top: -26px;
}

/* right--------------------------- */

.personal_right_wrap {
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 220px;
}

.personal_right_wrap .itm_box {
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 22px 30px;
}

.personal_right_wrap .itm {
    position: relative;
    cursor: pointer;
}

.personal_right_wrap .itm~.itm::before {
    position: absolute;
    top: -7px;
    left: 0;
    transform: translate(0, -50%);
    content: "";
    width: 150px;
    height: 1px;
    background: #ddd;
}

.personal_right_wrap .itm::after {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    content: "\e5cc";
    font-family: material symbols outlined;
    font-size: 30px;
    color: #fff;

    text-align: center;
    line-height: 50px;
    transition: 0.5s;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #007e6f;
}

.personal_right_wrap .itm:hover::after {
    right: 0;
}

.personal_right_wrap .itm strong {
    display: block;
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 16px 0;
}

.personal_right_wrap .itm p {
    font-size: 14px;
    line-height: 20px;
}

/* main_event------------------------- */
.event_wrap {
    display: flex;
    gap: 30px;
}

.event_wrap>* {
    flex: 1;
}

.event_left_wrap {
    display: flex;
    gap: 30px;
    max-width: 570px;
}

.event_left_wrap>* {
    flex: 1;
}

.event_left_wrap .event_itm {
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
}

.event_left_wrap .event_itm .itm {
    height: 200px;
    background: url(../images/main_event01.png) no-repeat center center/cover;
}

.event_left_wrap .event_slide {
    min-width: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.event_left_wrap .event_slide .itm {
    width: 270px;
    height: 200px;
    cursor: pointer;
}

.event_left_wrap .event_slide .itm01 {
    background: url(../images/main_event02-1.png) no-repeat center center/cover;
}

.event_left_wrap .event_slide .itm02 {
    background: url(../images/main_event02-2.png) no-repeat center center/cover;
}

.event_left_wrap .txt_box {
    padding: 40px 0 0 15px;
}

.event_left_wrap .txt_box strong {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 16px 0;
}

.event_left_wrap .txt_box p {
    font-size: 14px;
    line-height: 18px;
}

.event_left_wrap .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 20%;
    transform: translate(-50%, 0);

    font-size: 0;
}

.event_left_wrap .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.event_left_wrap .slick-dots li::after {
    content: "";
    border-radius: 50%;
    padding: 8px;
    background: #ddd;
}

.event_left_wrap .slick-dots li.slick-active::after {
    padding: 8px 16px;
    border-radius: 8px;
    background: #666;

}

.event_left_wrap .slick-dots li button {
    border: none;
    background: transparent;
}

/* right------------------------- */
.event_right {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

/* right_top------------------------- */
.event_right_top_wrap .itm {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    height: 55px;
    border: 1px solid #666;
    line-height: 55px;
    border-radius: 8px;
    cursor: pointer;
}

.event_right_top_wrap .itm span {
    font-size: 14px;
    color: #666;
}

/* right_bottom------------------------- */

.event_right_bottom_wrap {
    display: flex;
    gap: 30px;
    height: 55px;
}

.event_right_bottom_wrap>* {
    flex: 1;
}

.event_right_bottom_wrap .itm {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.event_right_bottom_wrap .itm span {
    background: #007e6f;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 36px;
    color: #fff;
}

.event_right_bottom_wrap .itm .txt_box {
    margin: 0 0 0 15px;
}

.event_right_bottom_wrap .itm .txt_box strong {
    display: block;
    font-weight: 500;
    margin: 0 0 8px 0;
}

.event_right_bottom_wrap .itm .txt_box p {
    font-size: 14px;
}

/* footer */

.footer {
    background: #ddd;
    border-top: 1px solid #bbb;
    padding: 0 0 50px 0;
}

.footer_top {
    display: flex;
    justify-content: space-between;
}

.footer_top_left>ul {
    display: flex;
    gap: 30px;
    margin: 0 0 16px 0;
}

.footer_top_left>ul li {
    line-height: 50px;
}

.footer_top_left>ul li strong {
    font-size: 18px;
    font-weight: 500;
}

.footer_top_right {
    line-height: 50px;
}

.footer_top_right select {
    padding: 10px 0;
    font-size: 14px;
    cursor: pointer;
}

#hana {
    width: 150px;
}

#site {
    width: 100px;
}


.footer_top_right select option span {}

/* footer-bottom*/
.footer_bottom {
    display: flex;
    justify-content: space-between;
}

.footer_bottom_left ul {
    display: flex;
    gap: 15px;
    margin: 0 0 8px 0;
}

.footer_bottom_left ul li {
    position: relative;
    font-size: 14px;
}

.footer_bottom_left ul li~li::after {
    position: absolute;
    top: 50%;
    left: -7px;
    transform: translate(0, -50%);
    content: "";
    width: 1px;
    height: 6px;
    background: #666;
}


.footer_bottom_left .bottom {
    margin: 0 0 24px 0;
}

.footer_bottom_left p {
    margin: 0 0 8px 0;
    font-size: 14px;

    color: 666;
    vertical-align: text-bottom;
}

.footer_bottom_left p:last-child {}

.footer_bottom_right img {
    height: 50px;
    margin: 0 0 16px 0;
}

.footer_bottom_right .icon_box {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.footer_bottom_right .icon_box a {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #666;
    text-align: center;
    line-height: 30px;
    color: #fff;
}